@font-face {
    font-family: 'Malgun Gothic';
    src: url('MalgunGothic.woff2') format('woff2'),
        url('MalgunGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

